@import "../../styles/partials/mixin";
#latestNews {
  padding-bottom: 50px;
  .page-title {
    .add-news-btn {
      text-transform: uppercase;
      background-color: var(--button-bg);
      color: var(--button-text);
      border: 1px solid var(--sub-btn-border);
      &:hover {
        color: var(--button-bg);
        background: var(--button-text);
      }
    }
  }

  .edit-delete {
    position: relative;
    width: 30px;
    text-align: center;
    cursor: pointer;
    .edit-delete-btn {
      width: 100%;
      .icon-container {
        font-size: 20px;
        svg {
          height: 20px;
          width: 5px;
        }
      }
    }

    .selectbox {
      box-shadow: var(--pagination) 0px 3px 8px;
      padding: 5px;
      border-radius: 5px;
      @include Position(
        $pos: absolute,
        $top: 0,
        $right: 0,
        $index: 10,
        $tranform: scale(0)
      );
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
      background-color: var(--bg);
      transition: all 0.2s cubic-bezier(1, 0, 0, 1);
      &.open {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }

      .select-btn {
        width: 120px;
        text-align: left;
        padding: 6px 2px;
        .icon-container {
          font-size: 18px;
          margin-right: 5px;
        }
        &:first-child {
          border-bottom: 1px solid #f2f2f2;
          .icon-container {
            margin-right: 7px;
          }
        }
      }
    }
  }
}

.delete-modal {
  .modal {
    max-width: 600px;
    .modal-title {
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 28px;
    }
  }
}

.form-modal {
  .modal {
    max-width: 950px;
    .modal-inner {
      padding: 40px 25px 20px;
      form {
        @include Flex(
          $a-items: null,
          $j-con: null,
          $f-dir: column,
          $f-wrap: null
        );
        .form-scroll {
          overflow-y: scroll;
          height: 70vh;
          padding: 0 8px;
          &::-webkit-scrollbar {
            background-color: var(--scroll-bg);
            width: 5px;
            &-thumb {
              background-color: var(--scroll);
              border-radius: 6px;
            }
          }
          .form-input {
            margin-bottom: 20px;
            label,
            p {
              display: inline-block;
              margin-bottom: 8px;
              font-weight: 600;
              font-size: 18px;
            }
            input:not([type="radio"]),
            select,
            textarea {
              border: 1px solid var(--pagination);
              background-color: transparent;
              border-radius: 3px;
              width: 100%;
              padding: 8px 13px;
              font-size: 17px;
            }

            textarea {
              resize: none;
              &::-webkit-scrollbar {
                background-color: var(--scroll-bg);
                width: 5px;
                &-thumb {
                  background-color: var(--scroll);
                  border-radius: 6px;
                }
              }
            }

            .input-container {
              display: inline-block;
              margin-right: 20px;

              input[type="radio"] {
                appearance: none;
                border: 1px solid var(--pagination);
                display: inline-block;
                width: 18px;
                height: 18px;
                margin-right: 5px;
                vertical-align: text-top;
                background-color: transparent;
                border-radius: 50%;
                &:checked {
                  background: url("../../../public/images/checked-icon.svg")
                    no-repeat center;
                }
              }

              label {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
