@import "../../styles/partials/variables";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"); 
@import "../../styles/partials/mixin";
header {
  background-color: var(--bg);
  @media (max-width: 1200px) {
    @include Position($pos:fixed,$top:0,$left:0,$index:50);
    width: 100%;
    border-bottom: 1px solid var(--border);
  }
  .header-top {
    font-size: 12px;
    padding: 8px 0 9px;
    background-color: $primary-color;
    color: $text-color;
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
    .col-12 {
      @include Flex($j-con: space-between);
      .ht-left {
        display: flex;
        .weather {
          position: relative;
          padding-right: 15px;
          margin-right: 15px;
          &::after {
            content: "";
            position: absolute;
            top: -10px;
            bottom: -9px;
            right: 0;
            width: 1px;
            background-color: $border;
          }
          ul {
            @include Flex($a-items: center, $j-con: center);
            li {
              &:first-child {
                position: relative;
                padding-right: 7px;
                margin-right: 7px;
                &::after {
                  content: "";
                  @include Position($pos:absolute,$top:50%,$right:-1px,$index:null,$tranform:translateY(-50%));
                  width: 2px;
                  height: 2px;
                  background-color: $text-color;
                }
              }
              a {
                @include Flex($a-items: center, $j-con: center);
                img {
                  max-width: 19px;
                  margin-right: 8px;
                }
              }
            }
          }
        }
        .currency {
          @include Flex($a-items: center, $j-con: center);
          overflow: hidden;
          height: 19px;
          .currency-list {
            li {
              a {
                display: inline-block;
                padding-left: 5px;
              }
            }
          }
        }
      }
      .ht-right {
        @include Flex($a-items: center, $j-con: center);
        .about-link {
          margin-right: 15px;
          a {
            display: inline-block;
            margin-left: 10px;
          }
        }
        .socials {
          @include Flex($a-items: center, $j-con: center);
          margin-left: 15px;
          li {
            margin: 0 5px;
            &:last-child {
              margin-right: 0;
            }
            a {
              svg {
                width: 19px;
                height: 16px;
              }
            }
          }
        }
        .theme-button {
          position: relative;
          padding-left: 15px;
          margin-left: 15px;
          &::after {
            content: "";
            @include Position($pos:absolute,$top:-10px,$left:0,$bottom:-9px,$right:-1px);
            width: 1px;
            background-color: $border;
          }
          button {
            svg {
              width: 19px;
              height: 16px;
            }
          }
        }
      }
    }
  }

  .header-bottom {
    .col-12 {
      @include Flex($f-dir: column);
      .logo-langs {
        padding: 15px 0;
        @include Flex($a-items: center, $j-con: space-between);
        @media (min-width: 1200px) {
          display: block;
          text-align: center;
          padding: 15px 0 20px;
        }
        .langs {
          margin-bottom: 9px;
          display: none;
          @media (min-width: 1200px) {
            display: block;
          }
          li {
            margin: 0 5px;
            display: inline-block;
            a {
              font-size: 12px;
              opacity: 0.5;
              &:hover {
                opacity: 1;
              }

              &.active {
                opacity: 1;
              }
            }
          }
        }

        .logo {
          @media (max-width: 1024px) {
            order: 2;
          }
          a {
            img {
              width: 150px;
              height: 35px;
              filter: var(--filter);
              @media (min-width: 1200px) {
                width: 280px;
                height: 65px;
              }
            }
          }
        }

        .hamburger-menu {
          display: block;
          position: relative;
          width: 34px;
          height: 20px;
          @media (min-width: 1024px) {
            display: none;
          }
          &.close-menu {
            span {
              display: none;
              &:first-child {
                display: inline-block;
                top: 50%;
                transform: rotate(-135deg);
              }
              &:last-child {
                display: inline-block;
                top: 50%;
                transform: rotate(135deg);
              }
            }
          }
          span {
            &:first-child {
              top: 0;
            }
            &:last-child {
              top: 100%;
            }
            display: inline-block;
            @include Position($pos:absolute,$top:50%,$left:0,$tranform:translateY(-50%));
            width: 100%;
            height: 2px;
            background-color: var(--text);
            border-radius: 2px;
            transition: 0.2s ease;
          }
        }
      }

      .main-menu {
        position: relative;
        border-top: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        display: none;
        @media (min-width: 1200px) {
          @include Flex($j-con: space-between);
        }
        nav {
          width: 100%;
          padding: 18px 0;
          max-width: calc(100% - 60px);
          .navbar {
            @include Flex($j-con: space-between);
            li {
              margin-right: 13px;
              &:last-child {
                margin: 0;
              }
              a {
                font-weight: 600;
              }
            }
          }
        }
        .search-block {
          height: inherit;
          width: 100%;
          form {
            .form-input {
              position: relative;
              &::before {
                content: "\f002";
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                font-size: 18px;
                opacity: 0.5;
                @include Position($pos:absolute,$top:50%,$left:0,$tranform:translateY(-50%));
              }
              input {
                font-size: 1rem;
                width: 100%;
                padding: 18px 30px;
                letter-spacing: 0.45px;
              }
            }
          }
        }
        .search {
          @include Position($pos:absolute,$top:50%,$right:0,$tranform:translateY(-50%));
          svg {
            width: 18px;
            height: 18px;
            margin-right: 0.2em;
          }
        }
      }

      .sidebar {
        @include Position($pos:absolute,$top:100%,$left:0,$tranform:translateX(-295px));
        width: 290px;
        height: calc(100vh - 65px);
        padding: 20px 15px;
        background-color: var(--bg);
        border-top: 1px solid var(--border);
        overflow-y: auto;
        transition: 0.2s ease;
        @media (min-width: 1024px) {
          transform: translateX(-295px) !important;
        }
        &.open {
          transform: translateX(0);
        }
        .sidebar-menu {
          nav {
            .navbar {
              display: block;
              text-align: center;
              li {
                padding: 13px 0;
                border-bottom: 1px solid var(--border);
                a {
                  font-weight: 600;
                  font-size: 16px;
                }
              }
            }
          }
        }

        .search-block {
          margin: 20px 0;
          form {
            .form-input {
              position: relative;
              &::before {
                content: "\f002";
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                font-size: 16px;
                @include Position($pos:absolute,$top:50%,$right:20px,$tranform:translateY(-50%));
                opacity: 0.5;
              }
              input {
                width: 100%;
                letter-spacing: 0.3px;
                padding: 16px 50px 16px 20px;
                background: #f2f2f2;
                border: none;
                border-radius: 3px;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

.content-overlay {
  @include Position($pos:fixed,$top:0,$left:0,$index:40);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  @media (min-width: 1024px) {
    display: none !important;
  }
}
