@import "../styles/partials/mixin";
#latestNews {
  padding-bottom: 50px;
  .page-title {
    .add-news-btn {
      text-transform: uppercase;
      background-color: var(--button-bg);
      color: var(--button-text);
      border: 1px solid var(--sub-btn-border);
      &:hover {
        color: var(--button-bg);
        background: var(--button-text);
      }
    }
  }
  
}