.news-list {
  .news-item {
    @media (max-width: 768px) {
      padding: 0 0 15px;
      margin: 0 0 15px;
    }
    .news-info {
      .highlight {
        background-color: var(--highlighted);
        color: var(--highlighted-text);
      }
      .title {
        @media (max-width: 768px) {
          display: inline-block;
          margin-bottom: 10px;
        }
      }
      .description {
        font-size: 14px;
        letter-spacing: 0.42px;
        margin: 10px 0;
        display: none;
        @media (min-width: 768px) {
          display: block;
        }
      }
    }
  }
}
