@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/animation";
@import "./partials/extend";

:root {
  --bg: #fefefe;
  --text: #353535;
  --border: rgba(0, 0, 0, 0.102);
  --pagination: rgba(53, 53, 53, 0.4);
  --story-link-bg: #fbfbfb;
  --urgent-pagination-bg: #f6f6f6;
  --urgent-pagination-text: #353535;
  --swiper-border: #eaeaea;
  --important-swiper-bg: #f5f5f5;
  --page-link: #fbfbfb;
  --page-link-bg-hover: #f6f6f6;
  --scroll-bg: #efefef;
  --scroll: hsla(0, 0%, 67%, 0.6);
  --important-news-bg: #f2f2f2;
  --footer-bg: #fbfbfb;
  --social-bg-1: #353535;
  --social-bg-2: #0000000d;

}

[data-theme="dark"] {
  --bg: #000;
  --text: #fff;
  --border: #ffffff33;
  --filter: brightness(0) invert(1);
  --pagination: rgba(255, 255, 255, 0.4);
  --story-link-bg: #1a1a1a;
  --urgent-pagination-bg: rgba(251, 251, 251, 0.2);
  --urgent-pagination-text: #fff;
  --swiper-border: rgba(234, 234, 234, 0.2);
  --important-swiper-bg: rgba(255, 255, 255, 0.05);
  --page-link-bg: rgb(53, 53, 53);
  --page-link-bg-hover: #303030;
  --scroll-bg: #efefef;
  --scroll: hsla(0, 3%, 22%, 0.6);
  --important-news-bg: #1a1a1a;
  --footer-bg: rgba(255, 255, 255, 0.05);
  --social-bg-1: #fff;
  --social-bg-2: rgba(255,255,255,.1);
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ol,
ul,
li,
footer,
header,
nav,
section,
video,
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

ul {
  list-style: none;
}

input,
textarea,
button {
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

main {
  padding-top: 80px;
  @media (min-width: 1200px) {
    padding-top: 0px;
  }
}
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .col-lg-8 {
    flex: 0 0 66.66667%;
    @media (min-width: 992px) {
      max-width: 66.66667%;
    }
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    @media (min-width: 992px) {
      max-width: 33.33333%;
    }
  }

  .col-md-6 {
    @media (max-width: 992px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .col-sm-12 {
    @media (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .col-12 {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-4,
  .col-lg-4,
  .col-8,
  .col-lg-8,
  .col-md-6,
  .col-12 {
    width: 100%;
    padding: 0 15px;
  }
}

.img-container {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.messageBox {
  text-align: center;
  margin: 30px auto 0 !important;
  h1 {
    font-size: 50px;
    font-weight: 600;
  }
  p {
    margin: 5px 0 20px;
    font-size: 20px;
  }
  a {
    display: block;
    text-decoration: underline;
  }
}

a.main-title {
  display: block;
}
