@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/extend";
@import "./partials/animation";

:root {
    --bg: #fefefe;
    --text: #353535;
    --border: #0000001a;
}

[data-theme='dark'] {
    --bg: #000;
    --text: #fff;
    --border: #ffffff33;
    --filter: brightness(0) invert(1);
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, img, i, ol, ul, li, footer, header, nav, section, 
video, * {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 500;
    font-family: inherit;
    color: inherit;
}
html {
    overflow-y: scroll;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

ul {
    list-style: none;
}

input,textarea, button {
    background-color: transparent;
    border: none;
    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @media (min-width: 576px) {
        max-width: 100%;
    }
    // @media (min-width: 768px) {
    //     max-width: 720px;
    // }
    // @media (min-width: 992px) {
    //     max-width: 960px;
    // }
    
    // @media (min-width: 1200px) {
    //     max-width: 1280px;
    // }
}

.row {
    display: flex;
    justify-content: space-between;
}
