@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/animation";
@import "./partials/extend";

:root {
  --bg: #fefefe;
  --text: #353535;
  --border: #0000001a;
  --pagination: rgba(53,53,53,.4);
  --story-link-bg: #fbfbfb;
  --urgent-pagination-bg: #f6f6f6;
  --urgent-pagination-text: #353535;
  --swiper-border: #eaeaea;
}

[data-theme="dark"] {
  --bg: #000;
  --text: #fff;
  --border: #ffffff33;
  --filter: brightness(0) invert(1);
  --pagination: rgba(255,255,255,.4);
  --story-link-bg: #1a1a1a;
  --urgent-pagination-bg: rgba(251,251,251,.2);
  --urgent-pagination-text: #fff;
  --swiper-border: rgba(234,234,234,.2);
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ol,
ul,
li,
footer,
header,
nav,
section,
video,
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

ul {
  list-style: none;
}

input,
textarea,
button {
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

main {
  padding-top: 80px;
  @media (min-width: 1200px) {
      padding-top: 0px;
  }
}


.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .col-lg-8 {
    flex: 0 0 66.66667%;
    @media (min-width: 992px) {
      max-width: 66.66667%;
    }
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    @media (min-width: 992px) {
      max-width: 33.33333%;
    }
  }

  .col-12 {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-4,
  .col-lg-4,
  .col-8,
  .col-lg-8,
  .col-12 {
    width: 100%;
    padding: 0 15px;
  }
}

.messageBox {
  text-align: center;
  margin: 30px auto 0 !important;
  h1 {
    font-size: 50px;
    font-weight: 600;
  }
  p {
    margin: 5px 0 20px;
    font-size: 20px;
  }
  a {
    display: block;
    text-decoration: underline;
  }
}
.news-category {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 17px;
  border: 1px solid #fff;
}
.news-title {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: bold;
  margin: 13px 0;
  @media (min-width: 992px) {
    letter-spacing: 0.7px;
    font-size: 26px;
  }
}
.news-date {
  font-size: 12px;
  letter-spacing: 0.3px;
  opacity: 0.5;
  span {
    display: inline-block;
    padding: 0 7px 0 0;
    margin: 0 7px 0 0;
    &:first-child {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        right: -2px;
        width: 2px;
        height: 2px;
        opacity: 0.5;
        background-color: #000;
      }
    }
  }
}