footer {
  .footer-bottom {
    padding: 50px 0 35px;
  }
  .footer-bottom {
    font-size: 12px;
    line-height: 18px;
    color: #a4a4a4;
    padding: 25px 0;
    p {
      text-align: center;
    }
  }
}
