@import "../../styles/partials/mixin";
@import "../../styles/partials/extend";
footer {
  .footer-top {
    padding: 50px 0 35px;
    background-color: var(--footer-bg);
    font-size: 14px;
    font-weight: 500;
    .logo {
      img {
        filter: var(--filter);
      }
      @media (max-width: 768px) {
        margin: 0 auto 20px;
        width: 280px;
      }
    }
    .footer-menu {
      width: 100%;
      display: block;
      @media (min-width: 768px) {
        @include Flex($j-con: space-between);
        padding-left: 60px;
        width: calc(100% - 280px);
      }
      ul {
        @include Flex($a-items: center, $j-con: center, $f-wrap: wrap);
        li {
          width: 33.33333%;
          margin-bottom: 6px;
          a {
            font-size: 14px;
            font-weight: 600;
          }
        }
        &:first-child {
          @media (min-width: 992px) {
            text-align: left;
            width: 33.33333%;
          }
          li {
            width: auto;
            margin-right: 10px;
            text-align: center;
            @media (min-width: 768px) {
              text-align: left;
              margin-right: 0;
              width: 50%;
            }
          }
        }
        &:last-child {
          display: none;
          @media (min-width: 992px) {
            display: flex;
            width: 50%;
          }
        }
      }
    }
    .divider {
      margin: 25px 0;
      @extend %divider;
    }
    .coprights-wrapper {
      width: 100%;
      @include Flex($a-items: center, $j-con: center, $f-dir: column);
      text-align: center;
      @media (min-width: 992px) {
        @include Flex($j-con: space-between, $f-dir: row);
        text-align: left;
      }
      .copyrights {
        max-width: 518px;
        font-size: 14px;
        margin-bottom: 25px;
      }
      .socials {
        @include Flex($f-wrap: wrap);
        li {
          margin: 0 10px 5px 0;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          width: 38px;
          height: 38px;
          background-color: var(--social-bg-2);
          border-radius: 2px;
          svg {
            width: 15px;
            height: 15px;
            color: var(--text);
          }
          &.bg-color {
            background-color: var(--social-bg-1);
            svg {
              color: var(--bg);
            }
          }
          &:nth-child(3) {
            margin: 0 20px 5px 0;
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
  .footer-bottom {
    font-size: 12px;
    line-height: 18px;
    color: #a4a4a4;
    padding: 25px 0;
    p {
      text-align: center;
    }
  }
}
