%divider {
  position: relative;
  width: 100%;
  &::after {
    content: "";
    @include Position($pos: absolute, $left: 0, $bottom: 0);
    width: 100%;
    height: 6px;
    background-image: url("/images/divider-bg-dark.svg");
    filter: var(--filter);
  }
}

.main-title {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 0 20px;
  margin: 0 0 20px;
  @extend %divider;
}

.news-category {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 17px;
  border: 1px solid #fff;
}

.news-title {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: bold;
  margin: 13px 0;
  @media (min-width: 992px) {
    letter-spacing: 0.7px;
    font-size: 26px;
  }
}

.news-date {
  font-size: 12px;
  letter-spacing: 0.3px;
  opacity: 0.5;
  span {
    display: inline-block;
    padding: 0 7px 0 0;
    margin: 0 7px 0 0;
    &:first-child {
      position: relative;
      &::after {
        content: "";
        @include Position($pos: absolute, $top: calc(50% - 1px), $right: -2px);
        width: 2px;
        height: 2px;
        opacity: 0.5;
        background-color: var(--text);
      }
    }
  }
}

.page-title {
  @include Flex($a-items: center, $j-con: space-between);
  width: 100%;
  font-size: 26px;
  letter-spacing: 0.7px;
  margin: 0 0 25px;
  p {
    font-weight: bold;
  }
}

.filter-date {
  width: 100%;
  margin: 0 0 25px;
  text-transform: uppercase;
  padding: 0 0 10px;
  overflow: hidden;
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      background-color: var(--scroll-bg);
      height: 5px;
      &-thumb {
        background-color: var(--scroll);
        border-radius: 6px;
      }
    }
    li {
      flex-grow: 1;
      margin: 0 15px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.sub-category-btn {
  @include Flex($a-items: center, $j-con: center);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  white-space: nowrap;
  height: 50px;
  padding: 5px 30px;
  border: 1px solid var(--sub-btn-border);
  background-color: var(--sub-btn-bg);
  transition: 0.2s ease;
  @media (max-width: 992px) {
    height: 42px;
    font-size: 12px;
  }
  &:hover {
    color: var(--button-text);
    background: var(--button-bg);
  }
  &.active {
    color: var(--button-text);
    background: var(--button-bg);
  }
}