@import "styles/_globals.scss";


#main-news {
  .story-link {
    margin: 0 15px 15px;
    padding: 0 0 10px;
    a {
      display: grid;
      place-items: center;
      color: #ed0a0a;
      background: var(--story-link-bg);
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      height: 50px;
      padding: 5px 30px;
      transition: 0.2s ease;
      &:hover {
        color: #353535;
        background: #eee;
      }
    }
  }
  
  .other-news {
    .other-news-container {
      .actual-news-blocks {
        @include Flex($j-con: space-between);
        .actual-news-block {
          position: relative;
          width: calc(50% - 5px);
          height: 325px;
          margin-bottom: 15px;
          .news-info {
            @include Flex($a-items: flex-start, $j-con: flex-end, $f-dir: column);
            @include Position($pos: absolute, $top: 0, $left: 0);
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: #00000080;
            color: #fff;
            @media (min-width: 768px) {
              padding: 50px;
            }
            &::before,
            &::after {
              content: "";
              display: none;
              border: 1px dashed #fff;
              opacity: 0.6;
              @media (min-width: 768px) {
                display: block;
              }
            }
            &::before {
              @include Position(
                $pos: absolute,
                $top: 20px,
                $left: 20px,
                $bottom: 20px,
                $right: 20px
              );
            }
            &::after {
              @include Position(
                $pos: absolute,
                $top: 15px,
                $left: 15px,
                $bottom: 15px,
                $right: 15px
              );
            }
            .news-category {
              font-size: 10px;
            }
            .news-title {
              font-size: 17px;
              letter-spacing: 0.6px;
              margin: 12px 0;
            }
          }
        }
      }
      .news-card-blocks {
        margin: 0 -5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        @media (min-width: 576px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 768px) {
          grid-template-columns: repeat(4, 1fr);
        }
        .news-card-block {
          font-size: 80%;
          font-weight: 400;
          margin: 10px 5px 15px;
          .img {
            position: relative;
            a {
              display: block;
            }
          }
          .news-info {
            .title {
              display: block;
              font-size: 14px;
              margin: 10px 0;
              height: 72px;
              overflow: hidden;
              font-weight: 600;
            }
            .news-date {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}