@import "../../../styles/partials/_mixin.scss";
.breaking-news-swiper {
  position: relative;
  @include Flex($a-items: center, $f-wrap: wrap);
  padding: 10px;
  margin-bottom: 38px;
  width: 100%;
  border: 1px solid var(--swiper-border);
  @media (min-width: 992px) {
    flex-wrap: nowrap;
  }
  .label {
    @include Flex($a-items: center);
    margin-right: 14px;
    padding: 11px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: #ed0a0a;
    white-space: nowrap;
    svg {
      width: 10px;
      height: 16px;
    }
    h3 {
      font-size: 12px;
      margin-left: 5px;
      font-weight: 700;
    }
  }
  .swiper-container {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
    @media (min-width: 992px) {
      margin-top: 0;
    }
    .mainSwiper4 {
      position: static !important;
      .swiper-wrapper {
        .swiper-slide {
          height: auto;
          .news-item {
            width: calc(100% - 75px);
            height: 100%;
            @include Flex($a-items: center, $f-wrap: wrap);
            .news-heading {
              width: 95%;
              font-size: 15px;
              font-weight: 700;
              margin-right: 12px;
              white-space: wrap;
            }
          }
        }
      }
      .swiper-controls {
        display: flex;
        align-items: center;
        @include Flex($a-items: center);
        @include Position(
          $pos: absolute,
          $top: 10px,
          $right: 0,
          $bottom: auto,
          $index: 2
        );
        padding-right: 10px;
        background-color: var(--bg);
        @media (min-width: 992px) {
          top: 0;
          bottom: 0;
        }
        button {
          @include Flex($a-items: center, $j-con: center);
          margin-left: 10px;
          width: 32px;
          height: 32px;
          opacity: 0.6;
          transition: 0.2s ease;
          background: var(--urgent-pagination-bg);
          &:hover {
            opacity: 1;
          }
          svg {
            color: var(--urgent-pagination-text);
            width: 7px;
            height: 20px;
          }
        }
      }
    }
  }
}
